<% if user_signed_in? %>
    <h2>Ваші замовлення</h2>
    <%= render 'orders/list', orders: current_user.orders %>
    <div>
      <%= link_to "Нове замовлення", new_order_path %>
    </div>
<% else %>
    <h1>Вітаємо</h1>
    <%= link_to "Зареєструватись", new_user_registration_path %> |
    <%= link_to "Увійти", new_user_session_path %>
<% end %>
