<table class="orders responsive-card-table unstriped">
  <thead>
  <tr>
    <th>Дата</th>
    <th>Статус замовлення</th>
    <th colspan="3">Вміст</th>
  </tr>
  </thead>
  <tbody>
  <% orders.each do |order| %>
      <tr id="order_<%= order.id %>">
        <td><%= order.created_at %></td>
        <td><%= order.status %></td>
        <td><%= order.order_items.map{ |item|item.product.name}.join(', ') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
