<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

var data = []

    <%@products.map do|product| %>
    var productData = google.visualization.arrayToDataTable(
      <%= product_prices(product.name).to_json.html_safe %>
    );
    data.push(productData);
    <%end%>

    var options = {
      title: 'Product Prices',
      curveType: 'function',
      legend: { position: 'bottom' }
    };




    for(var f = 0; f < data.length; f++){
      var addedElement = document.createElement('div');
      document.body.appendChild(addedElement);
      var chart = new google.visualization.LineChart(addedElement);
      chart.draw(data[f], options);
    }


  }
  </script>
</head>
<body>
</body>
</html>
