<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  var products = []

  <%@products.map do|product| %>
      var productData =  <%= product_prices(product.name).to_json.html_safe %>;
      var product = {name: "<%=product.name%>", price_list: productData};
      products.push(product);
  <%end%>

  function drawChart() {
    drawProducts(products);
  }

  function drawProducts(products){
    for(var f = 0; f < products.length; f++){
      var product = products[f];
      var options = {
        title: product.name,
        curveType: 'function',
        legend: { position: 'bottom' }
      };

      var chartRoom = document.createElement('div');
      document.body.appendChild(chartRoom);
      var chart = new google.visualization.LineChart(chartRoom);
      chart.draw(google.visualization.arrayToDataTable(product.price_list), options);
    }
  }
  </script>
</head>
<body>
</body>
</html>
