<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

var datasArray = []

    <%@product.map do|product| %>
    var data = google.visualization.arrayToDataTable(
      <%= product_prices(product.name).to_json.html_safe %>
    );
    datasArray.push(data);
    <%end%>

    var options = {
      title: 'Product Prices',
      curveType: 'function',
      legend: { position: 'bottom' }
    };




    for(var f = 0; f < datasArray.length; f++){
      var randomId = Math.random(10);
      var addedElement = document.createElement('div');
      addedElement.id = randomId;
      document.body.appendChild(addedElement);
      var chart = new google.visualization.LineChart(document.getElementById(randomId));
      chart.draw(datasArray[f], options);
    }


  }
  </script>
</head>
<body>
</body>
</html>
